
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to UMN Course Listings</h1>

  <p>This flask app is meant to act as an optional way to search for courses, as apposed to going through MyU. You can search courses in general or you can search for classes based on semester.</p>
  <p><a href="{{ url_for('public.about') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="fa fa-book"></i> Course Search</h2>
      <p>Search through the courses offered at any of the University of Minnesota Campuses.</p>
      <p><a class="btn btn-default" href="/course/search">Search &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-book"></i> Class Search</h2>
      <p>Put together your class schedule. Search for courses offered on a certain semester.</p>
      <p><a href="/class/search" class="btn btn-default" href="#">Search &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2><i class="fa fa-github-alt"></i> GitHub Repo</h2>
      <p>All code is hosted on GitHub. Feel free to fork us and add new features!</p>
      <p><a href="https://github.com/frisk028/flask-app-umn-courses" class="btn btn-default">Discover &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

